/* ////////////////////////////GENERALES/////////////////////////*/
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.titulo{
    font-size: 6vw;
    color: #FD6842;
    font-weight: 700;
}

.subtitulos{
    color: #BAB759;
    font-size: 2vw;
    text-align: center;
    margin: 30px auto 50px auto;
    font-weight: 700;
}

.parrafos{
    font-size: 18px;
    color: #3F3E1C;
    margin-top: 50px;
    text-align: justify;
    max-width: 100%;
    word-wrap: break-word;
}

.textFormacion{
    font-size: 16px;
    color: #fff;
}

.cardForm p:nth-child(odd) {
    font-weight: 700;   
    margin-top: 8px; 
}

.imgBtn{
    height: 25px;
    filter: invert(48%) sepia(35%) saturate(533%) hue-rotate(63deg) brightness(90%) contrast(91%);
}

/* ////////////////////////////NAV/////////////////////////*/

nav{
    background-color: #FFF9F9;
    padding: 10px 100px;
}

.itemsNavBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #548749;
    list-style: none;
    padding: 0;
    margin: 8px 0;
}

/* ////////////////////////////SECCION HOLA!/////////////////////////*/
main{
    background: linear-gradient(#FFF9F9, #EEEED2);
}

.textoHola{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hola{
    display: flex;
    align-items: center;
    padding: 5% 7%;
    gap: 70px;
}

.imgPerfil{
   width: 25%;
   margin: 10px 50px;
}

.titulo, .enfoque, .parrafos{
    margin-top: 10px;
    margin-bottom: 10px;
}

.enfoque{
    width: 100%;
    color: #BAB759;
    font-size: 2.1vw;
    text-align: left;
    font-weight: 500;
}

.linksRedes{
    width: 40%;
    display: inline-flex;
    align-items: center;
    padding: 20px 30px;
    margin-top: 10px;
    justify-content: space-between;
    gap: 20px;
}

.linksRedes button{
    width: auto;
    display: flex;
    align-items: center;
    background-color: #FFF9F9;
    border-radius: 5px;
    border: none;
    color: #548749;
    padding: 10px 15px;
    gap: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.linksRedes button:hover{
    background-color: #548749;
    color: #FFF9F9;
    .imgBtn{
        filter: invert(96%) sepia(4%) saturate(236%) hue-rotate(314deg) brightness(98%) contrast(108%);
    }
}

/* ////////////////////////////SECCION SOBRE MI/////////////////////////*/

.sobreMi{
    padding: 0 140px ;
}

/* ////////////////////////////SECCION MIS SKILLS/////////////////////////*/

.skills{
    padding: 70px 140px;
}

.herramientas{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 5%;
    row-gap: 20%;
    padding: 50px 0;
}

.bajadas{
    display: flex;
    align-items: center;
    width: auto;
    gap: 25px;
    border: solid 2px #FD6842;
    border-radius: 5px;
    color: #FD6842;
    font-size: 14px;
    padding: 5px 5px 5px 20px;
}

.imgSkills{
    height: 40px;
    filter: invert(50%) sepia(84%) saturate(505%) hue-rotate(322deg) brightness(94%) contrast(112%);
}

/* ////////////////////////////SECCION FORMACIONES/////////////////////////*/

.formacion{
    display: flex;
    flex-wrap: wrap;
    padding: 80px 140px;
    justify-content: center;
    gap: 30px;
}

.formacionCard{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 25%;
    margin: 20px;

    /* Ajusta el margen según sea necesario */
    overflow: hidden;

    position: relative;
}

.formacionCard img{
    max-width: 100%;
    height: auto;
    /*transition: transform 0.3s, opacity 0.3s;*/
    transition: filter 0.3s;
}

.formacionCard:hover img {
    opacity: 0.0;
    /*filter: grayscale(100%);*/
}

.formacionCard:hover .cardForm {
    align-items: center;
    opacity: 1;
}

.cardForm {
    align-content: center;
    /*align-items: center;*/
    background: rgba(0, 0, 0, 0.5);
    /*Fondo gris semi-transparente */
    color: #fff;
    /* Color del texto */
    /*display: flex;*/
    height: 100%;
    justify-content: center;
    left: 0;
    right: 0;
    opacity: 0;
    /* Inicialmente invisible */
    padding: 5px;
    position: absolute;
    top: 0;
    transition: opacity 0.3s;
    width: 100%;
}

.siglo{
    background-color: #026756;
    align-items: center;
}

.alura{
    background-color: white;
}

.domestika{
    background-color: #f42b04;
}

.agencia{
    background-color: #ebb304;
}

.egg{
    background-color: #ffffff;
}

/*////////////////////////////////////MI EXPERIENCIA///////////////////////////////////////////////////////*/
.experiencia{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 80px 140px;
    justify-content: center;
    gap: 30px;
}

.experienciaCard{
    width: 100%;
    display: flex;
    column-gap: 30px;
    margin-top: 50px;
}

.experienciaCard:nth-child(odd){
    flex-direction: row-reverse;
}

.experienciaCard:nth-child(even){
    flex-direction: row;
}

.experienciaCard img{
    width: 40%;
}

.detalleExperiencia{
    width: 60%;
    padding-left: 50px;
    align-content: center;
    line-height: 150%;
}

.detalleExperiencia p:first-child{
    font-weight: 500;
}

.detalleExperiencia a:first-of-type button{
    font-size: 14px;
    margin: 10px 5px;
    border-radius: 5px;
    border: 1px solid #548749;
    padding: 5px;
    min-width: 20%;

}

.detalleExperiencia a:nth-of-type(2) button{
    font-size: 14px;
    margin: 10px 5px;
    border-radius: 5px;
    border: none;
    background-color: #548749;
    padding: 5px;
    min-width: 20%;
    color: #FFF9F9;
}


/*///////////////////// FORM CONTACTO /////////////////////////*/

.formContacto{
    padding: 0 7% 30px 7%;
    display: flex;
    gap: 10%;
}

.formContacto img{
    width: 30%;
}

.infoContacto{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.infoContacto input, textarea{
    width: 60%;
    border-radius: 7px;
    border: none;
    height: auto;
    padding: 10px;
}

.formularioContact{
    width: 100%;
    align-items: center;
}

.contactoBtn{
    width: 30%;
    height: auto;
    padding: 10px;
    border-radius: 7px;
    border: none;
    background-color: #548749;
    color:#FFF9F9;
    font-weight: 500;
    font-size: 16px;
}
/*
.formularioContact label, input{
    width: 100%;
    background-color: #EBEBC5 ;
    border-style: none;
}*/


/*////////////////////////////////////////FOOTER TIME//////////////////////////////////////*/
.elPie{
    height: 100px ;
    align-content: center;
    background-color: #EBEBC5;
}

.infoMensajeria{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
}
.itemLista{
    display: flex;
    align-items: center;
    gap: 5px;
}

.itemLista p{
    margin: 5px;
}

/* Media query para pantallas de hasta 600px (móviles pequeños) */
@media only screen and (max-width: 600px) {
    .hola{
        display: flex;
        flex-direction: column;
        padding: 5% 7%;
        gap: 70px;
    }

    .herramientas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
        justify-items: center;
        gap: 10px;
        padding: 50px 0;
    }

    .bajadas{
        display: flex;
        align-items: center;
        width: 150px;
        gap: 25px;
        border: solid 2px #FD6842;
        border-radius: 5px;
        color: #FD6842;
        font-size: 14px;
        padding: 5px 5px 5px 20px;
    }
    /* Estilos específicos para pantallas pequeñas */
}
/* //////////////////COLOR PARA NOCTURNO///////////
 background-color: #191919;*/